@font-face {
    font-family: 'DIN';
    src: url('../fonts/din.woff2') format('woff2'),
         url('../fonts/din.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: remixicon;
    src: url('../fonts/remixicon.eot');
    src: url('../fonts/remixicon.eot#iefix') format("embedded-opentype"),
         url('../fonts/remixicon.woff2') format("woff2"),
         url('../fonts/remixicon.woff') format("woff"),
         url('../fonts/remixicon.ttf') format("truetype");
    font-display: swap;
}



	body{
		margin: 0;
		background-color: #212227;
		overflow-x: hidden;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		width: 100%;
		height: 100%;
		font-family: DIN;



        font-family: DIN; 
        color: white
	}



*, :after, :before {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(9, 9, 9, .75);
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}


div {
    display: block;
    unicode-bidi: isolate;
}

.divider{
    width: 100%;
    height: 10px;
    background: #24262b;
}

.card{
    position: relative; 
    display: flex
;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: #212529;
    word-wrap: break-word;
}

.progress{
        display: flex
; 
height: 1rem;
overflow: hidden;
font-size: 0.75rem;
background-color: #e9ecef;
border-radius: 0.375rem;
}


.progress-bar {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width 0.6s ease ;
}


#main-wrapper {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    line-height: 1;
}

#header{
position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1099;
    background-color: #212227;
    display: flex
;
    color: #fff;
    font-size: 1.25rem;
    justify-content: center;
    width: 100%;
    height: 58px;}

	#header .customer-service {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#header .customer-service, #header .title {
    display: flex
;
    align-items: center;
    justify-content: center;

}

#header .logo {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
}
#header .logo img{
    width: 100%;
	height: 100%
}

	#page-content {
    padding-top: 58px;
    padding-bottom: 53px;
    overflow-y: auto;
}

#navi-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px 0 0;
    box-sizing: border-box;
    background: linear-gradient(0deg, #2b2f37, #232529);
    border-radius: 11px 11px 0 0;
    z-index: 999;
    display: flex;

    
}

#navi-menu .menu-item{
    width: 25%;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    color: #7f8198;
}

#navi-menu .menu-item.active{
    color: #0072ff
}

#navi-menu .menu-item i{
    display: block;
    margin-bottom: .35rem;
}

#navi-menu .menu-item label{
    font-size: .75rem;
    display: block
}

#home-banner{
	margin: auto;
	width: calc(100% - 22px)
}



#home-banner .swiper-slide .image {
    width: 100%;
    padding-bottom: 45%;
    background-size: cover;
    background-position: 50%;
}

#home-banner .swiper-pagination-bullet{
	background: black;
	border-radius: 0;
	width: 12px;
	height: 4px
}

#home-banner .swiper-pagination-bullet:hover{
	background: black !important;
}

#notice-slider{
    width: 100%;
    display: flex
;
    align-items: center;
    height: 37px;
    padding: 0 15px 0 20px;
    position: relative;
}

#notice-slider:after{
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    left: 15px;
    right: 15px;
    background: #16181f;
}

#notice-slider .notice-icon{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    color: #0072ff;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#notice-slider .swiper-text{
   text-align: left;
   width: 100%;
}


#content-menu{
    display: flex;
    width: 100%;
    align-items: center;
}

#content-menu .item{
    flex: 1;
    display: flex
;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    font-size: .75rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#content-menu .icon{
    width: 45px;
    height: 45px;
    margin-bottom: 7px;
    font-size: 2.1rem;
    color: #0072ff;
}




.project-wrapper{
    width: 100%
}

.project-wrapper .title{
    width: 100%;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    position: relative;
}

.project-wrapper .title h6{
position: relative;
font-size: .875rem;
font-weight: 400;
color: #fff;
padding-left: 9px;
margin: 0
}

.project-wrapper .title h6:before{
    content: "";
    position: absolute;
    width: 3px;
    height: 11px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
}


.project-wrapper .list{
    width: 100%;
    display: flex
;
    padding: 8px 4px 0;
    overflow-x: auto;
}

.project-wrapper .list .list-item{
    flex: 0 0 auto;
    width: 50%;
    padding: 0 6px;
    margin-bottom: .75rem;
    text-transform: capitalize;
}

.project-wrapper .card{
    width: 100%;
    background: #24252a;
    border-radius: 5px;
    overflow: hidden;
    border: none;
}

.project-wrapper .card .card-image-wrapper{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.project-wrapper .card .card-image{
    background-size: cover;
    width: 100%;
    padding-top: 100%;

}

.project-wrapper .card-bottom{
    width: 100%;
    padding: 15px 7px;
    display: flex
;
    flex-direction: column;
}

.project-wrapper .card .card-title{
    width: 100%;
    font-size: .875rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-wrapper .card .card-content{
    font-size: .75rem;
    font-weight: 400;
    color: #7f8198;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




.project-wrapper .card .progress .label {
    overflow: visible;
}
.project-wrapper .card .progress  {
    margin: 0 auto;
    margin-top: 1.875rem;

    width: 90%;
    height: 3px;
    padding: 0;
    border-radius: 3px;
    overflow: visible;
}
.project-wrapper .card .progress  {
    background-color: #cfe2ff !important;
}



.project-wrapper .card .progress-bar {
    position: relative;
    
    border-radius: 3px;
    overflow: visible
}



.project-wrapper .card .progress-bar .label{
    position: absolute;
    top: -20px;
    right: -14px;
    background-color: #0072ff;
    color: #fff;
    display: inline-block;
    line-height: 13px;
    padding: 0 4px;
    border-radius: 4px;
    font-size: .625rem;
}

.project-wrapper .card .progress-bar .label:after{
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #0072ff;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 992px) {
    #main-wrapper {
        max-width: 500px;
    }

    
#navi-menu{

    width: 500px;
    margin: 0 auto;
    
}

	#header {
        width: 500px;
        margin: 0 auto;
    }
}