table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.3);
}

table th, table td{
    padding: 8px;
    line-height: 1;
    border: 1px solid rgba(255,255,255,0.1);
}

table tbody *{
    font-size: 12px;
}

table th{
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    background: #020202;
}

table .amount{
    font-weight: 600;
}

table tr:nth-child(even) {
    background-color: #333333;
}

table tr:nth-child(odd) {
    background-color: #2b2b2b;
}